.card2-outer {
    padding: 0px 0px 80px 0px;
}

.card2 {
    position: relative;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 480px; /* Increased width to accommodate side-by-side layout */
    width: 100%;
    max-height: 230px;
    margin: 8px;
    background-color: #fff;
    display: flex; /* Use flexbox for side-by-side layout */
}

.card2-content {
    
    margin-top: 40px;
    padding: 10px;
    flex: 1; /* Take up remaining space */
}

.card2-image-container {
    flex: 0 0 40%; /* Set a fixed width for the image container */
    position: relative;
    overflow: hidden;
}

.card2-image {
    width: 200px;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card2-image:hover {
    transform: scale(1.1);
}

.card2-state {
    
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #03d614;
    color: #fff;
    padding: 3px 10px;
    border-radius: 0px 25px 25px 0px;
    font-size: 0.8em;
    font-weight: 400;
    z-index: 2;
}

.card2-icon {
    position: absolute;
    height: 15px;
    opacity: 50%;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #fff;
    padding: 11px 10px;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: 400;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card2-title {
    color: #8d8d8d;
    font-size: 0.8em;
    margin-bottom: 8px;
    text-align: start;
    margin-top: 0px;
   
}

.card2-description {
    font-weight: 400;
    font-size: 1em;
    color: #000000;
    margin-top: -5px;
}

.card2-price {
    text-align: start;
    font-size: 1.25em;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}

.card2-options {
    display: flex;
    font-size: 0.8em;
    gap: 6px;
    margin-top: -10px;
}

.card2-options span {
    padding: 2px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.card2-quantity {
    text-align: start;
    margin-bottom: 16px;
    font-size: 0.8em;
    background-color: #ececec;
    padding: 7px;
    border-radius: 10px;
    color: #a3a3a3;
    width: 65px;
    margin-top: 10px;
}

.card2-quantity label {
    margin-right: 8px;
    color: #646464;
}

.card2-quantity input {
    width: 25px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.8em;
    color: #a3a3a3;
}

.card2-button-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card2-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
    font-size: 0.8em;
    margin-top: -5px;
}

.card2-button:hover {
    background-color: #218838;
}